/*
 * sama5d4ek.dtsi - Device Tree Include file for SAMA5D4 Evaluation Kit
 *
 *  Copyright (C) 2013 Atmel,
 *                2013 Nicolas Ferre <nicolas.ferre@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
/include/ "sama5d4.dtsi"

/ {
	model = "Atmel SAMA5D4-EK";
	compatible = "atmel,sama5d4ek", "atmel,sama5d4", "atmel,sama5";

	chosen {
		bootargs = "console=ttyS0,115200 ignore_loglevel earlyprintk";
	};

	memory {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		main_clock: clock@0 {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			mmc0: mmc@f8000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3 &pinctrl_mmc0_cd>;
				status = "okay";
				slot@1 {
					reg = <1>;
					bus-width = <4>;
					cd-gpios = <&pioE 5 0>;
				};
			};

			usart3: serial@fc00c000 {
				status = "okay";
			};

			pinctrl@fc06a000 {
				board {
					pinctrl_mmc0_cd: mmc0_cd {
						atmel,pins =
							<4 5 0x0 0x5>; /* PE5 GPIO with pullup deglitch */
					};
				};
			};
		};

	};
};
